/* Coolors Exported Palette - coolors.co/4d3960-0f65cd-5138dd-8068f4-d853e8 */

$transparency: .8;

$columbia-blue: rgba(203, 216, 219, 1);
$cosmic-latte: rgba(255, 251, 234, 1);
$light-carmine-pink: rgba(235, 102, 99, $transparency);
$timberwolf: rgba(224, 220, 208, 1);
$friendly-red: #E72D14;
$deep-carmine-pink: rgba(248, 51, 60, 1);
$malachite: rgba(35, 219, 92, $transparency);
$light-sea-green: rgba(43, 158, 179, 1);
$timberwolf-darker1: rgba(219, 213, 181, $transparency);